@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

article h1 {
  margin: 2rem 0;
}

article p{
  margin-bottom: 20px;
  font-weight: 400;

}

.hello-btn {
  background-color: rgb(39, 39, 80);
  padding: 10px;
  font-weight: bold;
  font-size: small;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgb(77, 77, 155);
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  border: 0;
  margin-right:2%;
  text-decoration: none;
}

.works {
  text-decoration: none;
  color:black;
  font-size:small;
  font-weight:200;
}

